<app-header></app-header>
<section class='container mb-5'>
  <div class='row'>
    <aside class="col-sm-12 col-md-4 col-lg-4">
      <app-aside></app-aside>
    </aside>
    <main class='col-12 col-md-4 col-lg-8'>
      <section class='row'>
        <article class='col-md-6 col-lg-8'>
          <figure class='card text-white shadow-sm'>
            <img alt='Piscina ao ar livre' class='card-img img-fluid'
                 src='https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'
            >
            <figcaption aria-label='Piscina ao ar livre' class='card-img-overlay d-flex align-items-end'>
              <h2 class='card-title'>Piscina ao ar livre</h2>
            </figcaption>
          </figure>
        </article>
        <article class='col-md-6 col-lg-4'>
          <div class='row'>
            <div class='col-12 col-md-12'>
              <figure class='card text-white shadow-sm'>
                <img alt='Restaurante com vista panorâmica' class='card-img img-fluid'
                     src='https://images.pexels.com/photos/1310777/pexels-photo-1310777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'>
                <figcaption aria-label='Restaurante com vista panorâmica'
                            class='card-img-overlay d-flex align-items-end'>
                  <h2 class='card-title'>Restaurante</h2>
                </figcaption>
              </figure>
            </div>
            <div class='col-12 col-md-12'>
              <figure class='card text-white shadow-sm'>
                <img alt='Sala de ginástica equipada' class='card-img img-fluid'
                     src='https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'>
                <figcaption aria-label='Sala de ginástica equipada' class='card-img-overlay d-flex align-items-end'>
                  <h2 class='card-title'>Sala de ginástica equipada</h2>
                </figcaption>
              </figure>
            </div>
          </div>
        </article>
      </section>

      <section class='row'>
        <div class='col-12'>
          <div class='card my-4'>
            <div class='card-body'>
              <h2 class='card-title' id='hotel-name'></h2>
              <ul class='list-unstyled'>
                <li><span class='material-symbols-outlined'>home</span> Endereço<span id='hotel-address'></span></li>
                <li><span class='material-symbols-outlined'>call</span> Telefone<span id='hotel-phone'></span></li>
                <li><span class='material-symbols-outlined'>check</span> Check-in as 15:00</li>
                <li><span class='material-symbols-outlined'>logout</span> Check-out até as 11:00</li>
                <li><span class='material-symbols-outlined'>wifi</span> Wi-fi
                <li><span class='material-symbols-outlined'>pool</span> Piscina</li>
                <li><span class='material-symbols-outlined'>fitness_center</span> Academia</li>
                <li><span class='material-symbols-outlined'>local_laundry_service</span> Lavanderia disponível</li>
                <li><span class='material-symbols-outlined'>smoking_rooms</span> Quartos para fumantes</li>
                <li><span class='material-symbols-outlined'>pets</span> Permitido animais de estimação</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class='row'>
        <div class='col-md-12 col-lg-12 mb-4'>
          <div class='card shadow-sm'>
            <div class='card-body'>
              <h2 class='card-title text-center'>Nossos Quartos</h2>
              <hr class='my-4'>
              <div class='row row-cols-1 row-cols-md-3 g-4'>
                <div class='col'>
                  <div class='card h-100'>
                    <img alt='Quarto Executivo' class='card-img-top'
                         src='https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'>
                    <div class='card-body'>
                      <h3 class='card-title'>Quarto Executivo</h3>
                      <p class='card-text'>Este quarto espaçoso é equipado com uma confortável cama king-size, TV de
                        tela plana, ar-condicionado, minibar e um banheiro privativo. Acomoda até duas pessoas.</p>
                    </div>
                    <div class='card-footer'>
                      <div class='row justify-content-between align-items-center'>
                        <div class='col-12'>
                          <h4 class='card-subtitle mb-2 text-muted'>Preço: R$ 500,00 por noite.</h4>
                        </div>
                        <div class='col-12'>
                          <button class='btn btn-primary btn-block w-100'>Reservar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='col'>
                  <div class='card h-100'>
                    <img alt='Quarto Luxo' class='card-img-top'
                         src='https://images.pexels.com/photos/237371/pexels-photo-237371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'>
                    <div class='card-body'>
                      <h3 class='card-title'>Quarto Luxo</h3>
                      <p class='card-text'>Este quarto ainda mais espaçoso é equipado com uma cama king-size, TV de tela
                        plana, ar-condicionado, minibar, banheiro privativo com banheira de hidromassagem e varanda com
                        vista para a cidade. Acomoda até duas pessoas.</p>
                    </div>
                    <div class='card-footer'>
                      <div class='row justify-content-between align-items-center'>
                        <div class='col-12'>
                          <h4 class='card-subtitle mb-2 text-muted'>Preço: R$ 800,00 por noite.</h4>
                        </div>
                        <div class='col-12'>
                          <button class='btn btn-primary btn-block w-100'>Reservar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='col'>
                  <div class='card h-100'>
                    <img alt='Suíte Presidencial' class='card-img-top'
                         src='https://images.pexels.com/photos/262048/pexels-photo-262048.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'>
                    <div class='card-body'>
                      <h3 class='card-title'>Suíte Presidencial</h3>
                      <p class='card-text'>A melhor suíte do hotel, equipada com uma cama king-size, TV de tela plana,
                        ar-condicionado, minibar, banheiro privativo com banheira de hidromassagem e varanda com vista
                        panorâmica para a cidade. Acomoda até duas pessoas.</p>
                    </div>
                    <div class='card-footer'>
                      <div class='row justify-content-between align-items-center'>
                        <div class='col-12'>
                          <h4 class='card-subtitle mb-2 text-muted'>Preço: R$ 1.000,00 por noite.</h4>
                        </div>
                        <div class='col-12'>
                          <button class='btn btn-primary btn-block w-100'>Reservar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</section>
<app-footer></app-footer>
