<div *ngFor="let hotel of hotels">
  <article class="card mb-3 shadow-sm bg-white rounded">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="#" title="Ver mais detalhes sobre {{hotel.name}}">
          <img [ngSrc]="'../../../assets/images/' + hotel.image" alt="{{hotel.name}}"
               class="img-fluid rounded-start" height="854" width="1280"/>
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title fw-bold">{{hotel.name}}</h3>
          <p class="card-text"><small class="text-muted">{{hotel.address}}</small></p>
          <div class="d-flex justify-content-between">
            <button aria-label="Adicionar aos favoritos" class="btn p-0 mb-2"
                    title="Adicionar aos favoritos">
              <span class="material-symbols-outlined">favorite</span>
            </button>
            <button [attr.aria-label]="'Ver mais detalhes sobre ' + hotel.name" class="btn btn-primary text-light"
                    role="link">
              Detalhes
            </button>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
