<header class='container mb-5'>
  <nav class='navbar navbar-expand-lg navbar-light bg-white'>
    <div class='container'>
      <a class='navbar-brand' href='./index.html'>
        Gulliver Traveller
      </a>
      <button aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation' class='navbar-toggler'
              data-bs-target='#navbarNav' data-bs-toggle='collapse' type='button'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse justify-content-end' id='navbarNav'>
        <ul class='navbar-nav'>
          <li class='nav-item'>
            <a class='nav-link text-dark' href='#'>Acomodações</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link text-dark' href='#'>Experiências</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link text-dark' href='#'>Blog</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link text-dark' href='#'>Ajuda</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link text-dark' href='#'>Cadastrar-se</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link text-dark' href='#'>Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
