<article class="card mb-3 shadow-sm bg-white rounded">
  <div class="row g-0">
    <div class="col-md-4">
      <a href="#" title="Ver mais detalhes sobre o Hotel Pullman Paris Tour Eiffel">
        <img alt="Hotel Pullman Paris Tour Eiffel" class="img-fluid rounded-start"
             height="854" ngSrc="../../../assets/images/hotel_pullman.jpg" width="1280"/>
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title fw-bold">Pullman Paris Tour Eiffel</h3>
        <p class="card-text"
        ><small class="text-muted"
        >18 Avenue De Suffren, 22 Rue Jean Rey Entrée Au, 75015
          Paris, França</small
        ></p
        >
        <div class="d-flex justify-content-between">
          <button
            aria-label="Adicionar aos favoritos"
            class="btn p-0 mb-2"
            title="Adicionar aos favoritos"
          >
            <span class="material-symbols-outlined">favorite</span>
          </button>
          <button
            aria-label="Ver mais detalhes sobre o Hotel Pavillon Monceau"
            class="btn btn-primary text-light"
            id="hotel-1"
            role="link"
          >Detalhes
          </button>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="card mb-3 shadow-sm bg-white rounded">
  <div class="row g-0">
    <div class="col-md-4">
      <a
        href="#"
        title="Ver mais detalhes sobre o Hotel Pullman Paris Tour Eiffel"
      >
        <img
          alt="Hôtel Rosalie"
          class="img-fluid rounded-start"
          height="853"
          ngSrc="../../../assets/images/hotel_rosalie.jpg" width="1280"/>
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title fw-bold">Hôtel Rosalie</h3>
        <p class="card-text"
        ><small class="text-muted"
        >8 Bis Av. de la Soeur Rosalie, 75013 Paris, França</small
        >
        </p>
        <div class="d-flex justify-content-between">
          <button
            aria-label="Adicionar aos favoritos"
            class="btn p-0 mb-2"
            title="Adicionar aos favoritos"
          >
            <span class="material-symbols-outlined">favorite</span>
          </button>
          <button
            aria-label="Ver mais detalhes sobre o Hotel Pavillon Monceau"
            class="btn btn-primary text-light"
            id="hotel-2"
            role="link"
          >Detalhes
          </button>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="card mb-3 shadow-sm bg-white rounded">
  <div class="row g-0">
    <div class="col-md-4">
      <a
        href="#"
        title="Ver mais detalhes sobre o Hotel LEmpire Paris"
      >
        <img
          alt="Hôtel Rosalie"
          class="img-fluid rounded-start"
          height="815"
          ngSrc="../../../assets/images/hotel_lempire.jpg" width="1280"/>
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title fw-bold">L'Empire Paris</h3>
        <p class="card-text"
        ><small class="text-muted"
        >48 Rue de l'Arbre Sec, 75001 Paris, França</small
        ></p
        >
        <div class="d-flex justify-content-between">
          <button
            aria-label="Adicionar aos favoritos"
            class="btn p-0 mb-2"
            title="Adicionar aos favoritos"
          >
            <span class="material-symbols-outlined">favorite</span>
          </button>
          <button
            aria-label="Ver mais detalhes sobre o LEmpire Paris"
            class="btn btn-primary text-light"
            id="hotel-3"
            role="link"
          >Detalhes
          </button>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="card mb-3 shadow-sm bg-white rounded">
  <div class="row g-0">
    <div class="col-md-4">
      <a
        href="#"
        title="Ver mais detalhes sobre o Hotel Pavillon Monceau"
      >
        <img
          alt="Hôtel Rosalie"
          class="img-fluid rounded-start"
          height="857"
          ngSrc="../../../assets/images/hotel_pavillon.jpg" width="1280"/>
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title fw-bold">Pavillon Monceau Hotel</h3>
        <p class="card-text"
        ><small class="text-muted"
        >43 Rue Jouffroy d'Abbans, 75017 Paris, França</small
        ></p
        >
        <div class="d-flex justify-content-between">
          <button
            aria-label="Adicionar aos favoritos"
            class="btn p-0 mb-2"
            title="Adicionar aos favoritos"
          >
            <span class="material-symbols-outlined">favorite</span>
          </button>
          <button
            aria-label="Ver mais detalhes sobre o LEmpire Paris"
            class="btn btn-primary text-light"
            id="hotel-4"
            role="link"
          >Detalhes
          </button>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="card mb-3 shadow-sm bg-white rounded">
  <div class="row g-0">
    <div class="col-md-4">
      <a
        href="#"
        title="Ver mais detalhes sobre o Hotel Chateau Frontenac"
      >
        <img
          alt="Hôtel Rosalie"
          class="img-fluid rounded-start"
          height="863"
          ngSrc="../../../assets/images/hotel_chateau.jpg" width="1280"/>
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title fw-bold">Hôtel Château Frontenac</h3>
        <p class="card-text"
        ><small class="text-muted"
        >54 Rue Pierre Charron, 75008 Paris, França</small
        ></p
        >
        <div class="d-flex justify-content-between">
          <button
            aria-label="Adicionar aos favoritos"
            class="btn p-0 mb-2"
            title="Adicionar aos favoritos"
          >
            <span class="material-symbols-outlined">favorite</span>
          </button>
          <button
            aria-label="Ver mais detalhes sobre o LEmpire Paris"
            class="btn btn-primary text-light"
            id="hotel-5"
            role="link"
          >Detalhes
          </button>
        </div>
      </div>
    </div>
  </div>
</article>
